<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}} - {{name}}</title>
<meta name="description" content="{{summary}}">
<meta name="theme-color" content="#ffffff">
<!-- Styles -->
<link rel="stylesheet" href="{{@assetPath 'assets/css/'}}{{theme}}.css">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{@assetPath 'favicon/apple-touch-icon.png'}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{@assetPath 'favicon/favicon-32x32.png'}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{@assetPath 'favicon/favicon-16x16.png'}}">
<link rel="icon" type="image/png" sizes="192x192" href="{{@assetPath 'favicon/android-chrome-192x192.png'}}">
<link rel="icon" type="image/png" sizes="512x512" href="{{@assetPath 'favicon/android-chrome-512x512.png'}}">
<link rel="manifest" href="{{@assetPath 'favicon/site.webmanifest'}}"> 
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" media="all">