<section class="hero flex flex-col justify-between mb-12 p-8">
    <div class="hero-title text-center">
        <h1 class="text-uppercase m-0">{{name}}</h1>
        <p class="text-xl">{{summary}}</p>
    </div>
    <div class="hero-table-of-content">
        <ol class="mb-6">
            {{#each table_of_content}}
                <li>
                    <a href="{{anchor}}">{{title}}</a>
                </li>
            {{/each}}
            <li><a href="{{@urlPath 'demo'}}">Demo</a></li>
        </ol>

        <hr />
        <div class="grid grid-cols-3 mt-6">
            <p class="text-sm m-0">powered by <a href="{{author_website}}" target="_blank" rel="noopener noreferrer">{{author}}</a></p>
            <p class="text-sm m-0 text-center">v{{version}}</p>
            <p class="text-sm m-0 text-right"><a href="{{repo}}">view on github</a></p>
        </div>
    </div>
</section>