<!-- This template extends the app.html layout -->
{{@partial 'index/app'}}

{{@yield "head"}}
    <!-- Custom head content -->
{{/yield}}

{{@yield "content"}}
    <div class="container" data-test="{{@sanitize test}}">
        {{{content}}}
    </div>
{{/yield}}

{{@yield "scripts"}}
    <!-- Custom footer scripts -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const test = document.querySelector('[data-test]');
            console.log(JSON.parse(test.dataset.test));
        });
    </script>
{{/yield}}