<!-- This template extends the app.html layout -->
{{@partial 'spa/app'}}

{{@yield "head"}}
    <!-- Custom head content -->
{{/yield}}

{{@yield "content"}}

    <!-- Scene container -->
    <div id="app-container" class="scene-wrapper" data-debug-mode="{{debug_mode}}">
        <div data-scene-container="content" class="scene-content">
    </div>
    
    <!-- Settings panel -->
    {{@partial "spa/settings-panel"}}

{{/yield}}

{{@yield "scripts"}}
    <!-- Custom footer scripts -->
{{/yield}}