<!-- This template extends the app.html layout -->
{{@partial 'static/app'}}

{{@yield "head"}}
    <!-- Custom head content -->
{{/yield}}

{{@yield "content"}}
    <div class="container" data-variables="{{@sanitize variables}}"></div>
{{/yield}}

{{@yield "scripts"}}
    <!-- Custom footer scripts -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const test = document.querySelector('[data-variables]');
            console.log(JSON.parse(test.dataset.variables));
        });
    </script>
{{/yield}}